:root {
  --already-black: rgb(35, 35, 35);
  --already-white: rgb(235, 235, 235);

  --bg-color: var(--already-white);
  --button-border-color: rgb(195, 195, 195);
  --header-bg-color: var(--already-black);
  --header-color: var(--already-white);
  --heading2-color: var(--already-white);
  --heading2-bg-color: rgb(85, 85, 85);
  --heading2-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  --button-alt-bg-color: rgb(65, 135, 285);
  --article-bg-color: white;
  --article-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  --section-bg-color: rgb(225, 225, 225);
  --menu-button-bg-color: rgb(95, 135, 135);
  --nav-color: rgb(215, 215, 215);
  --sub-nav-bg-color: var(--already-black);
  --sub-nav-color: var(--already-white);
  --nav-button-bg-color: rgb(255, 255, 255);
  --article-border: rgba(0, 0, 0, .1);
  --section-border: rgba(0, 0, 0, .2);
}

body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  font-size: 13px;
  height: 100vh;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

body, header, nav, main, section, a {
  display: flex;
}

header {
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-color);
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: 200;
  padding: 9.735ch 3ch;
  letter-spacing: .735ch;
  justify-content: center;
  position: relative;
}

header span {
  align-items: center;
  display: flex;
  font-size: .75rem;
  justify-content: center;
  letter-spacing: .395ch;
  margin-top: 7.35ch;
  padding: 5ch 1.65ch 0 0;
  position: absolute;
}

nav {
  align-items: center;
  background-color: var(--nav-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  height: 5%;
  min-height: 45px;
}

nav *:first-child {
  margin-left: 1.935%;
}

nav *:last-child {
  margin-right: 1.935%;
}

nav * {
  margin: 0 .235%;
}

section nav {
  background-color: var(--sub-nav-bg-color);
  color: var(--sub-nav-color);
  font-size: .65rem;
  letter-spacing: .5ch;
  padding: 0 5ch;
  text-transform: uppercase;
}

button {
  background-color: var(--nav-button-bg-color);
  border: 1px solid var(--section-border);
  border-radius: 3px;
  padding: 1.235ch 5ch;
}

nav a, nav button {
  align-items: center;
  background-color: var(--nav-button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 0;
  font-size: .535rem;
  height: 35px;
  letter-spacing: .735ch;
  padding: 0 3ch 0 4ch;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .35s;
}

main {
  background-color: var(--main-color);
  box-sizing: border-box;
  justify-content: space-around;
  padding: 5% 0 5% 0;
}

main section {
  background-color: var(--section-bg-color);
  border: 1px solid var(--section-border);
  box-sizing: content-box;
  flex-flow: column;
  min-width: 35%;
  max-width: 47.5%;
}

main section:only-child {
  max-width: 85%;
}

main section article {
  height: 100%;
  background-color: var(--article-bg-color);
  border: 1px solid var(--article-border);
  border-radius: 5px;
  box-shadow: var(--article-box-shadow);
  box-sizing: border-box;
  line-height: 3ch;
  margin: 2.35ch 5ch 2.35ch 5ch;
  padding: 3ch 5ch;
  position: relative;
}

main section article:first-child {
  margin-top: 10ch;
}

main section article:last-child {
  margin-bottom: 5ch;
}

section nav ~ article {
  margin-top: 8ch;
}

article h1 {
  background-color: var(--header-bg-color);
  border-radius: 3px;
  color: var(--header-color);
  font-size: .765rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: .735ch;
  margin: 0;
  padding: 1ch 2.395ch 1.35ch 7.65ch;
  position: absolute;
  top: -6.5ch;
  left: 2.365ch;
}

article h2 {
  background-color: var(--heading2-bg-color);
  border-radius: 3px;
  box-shadow: var(--heading2-shadow);
  color: var(--heading2-color);
  font-size: .765rem;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: .735ch;
  margin: 2ch 0 4ch 0;
  padding: 1ch 2.395ch;
  text-align: right;
}

p {
  line-height: 3.25ch;
  padding: .35ch 2.35ch;
}

main section article p:last-of-type {
  margin: 0 0 3.725ch 0;
}

.button-alt {
  color: var(--header-color);
  background-color: var(--button-alt-bg-color);
}

.menu-button:hover {
  filter: saturate(500%);
}

.button-alt:hover {
  filter: saturate(.5);
}

.menu-button {
  background-color: var(--menu-button-bg-color);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  color: var(--header-color);
  padding: 2ch 3.25ch 2ch 9.365ch;
  position: relative;
}

button:active, .menu-button:active, .button-alt:active {
  filter: saturate(.5%) brightness(.75) contrast(2);
}

.menu-button::before {
  content: '|||';
  font-weight: bold;
  left: 13px;
  letter-spacing: 0.2ch;
  position: absolute;
  top: 2.145ch;
  transform: rotateZ(90deg);
  transition-duration: .25s;
}

.menu-button:hover:before {
  transform: rotateZ(90deg) scaleY(.5);
}

.menu-button:active:before {
  transform: rotateZ(90deg) scaleY(1.5);
}

.menu-button::after {
  background-color: var(--header-color);
  content: '';
  height: 1px;
  left: 9.35ch;
  opacity: .235;
  position: absolute;
  right: 4ch;
  top: 5.165ch;
}

.menu-button::after {
  opacity: .475;
}

.hang-right {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {

}
